button {
    width: 5rem;
    height: 5rem;
    font-size: 1rem;
    border-radius: 1rem;
    margin: 0.1rem;
}

.op-button {
    background-color: rgb(255, 208, 0);
}

.calculator {
    display: flex;
    flex-direction: column;
    background-color: silver;
    align-items: center;
}

.display {
    font-size: large;
    background-color: white;
    padding: 0.5rem;
    margin: 1rem;
}

.numpad {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 1rem;
}

.numbers {
    display: flex;
    flex-direction: column;
}

.numbers > * {
    display: flex;
    flex-direction: row-reverse;
}

.operators {
    display: flex;
    flex-direction: column-reverse;
}
